{% extends "base.html" %}
{% load blog_tags %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}

        <section class="wow fadeIn bg-light-gray padding-35px-tb page-title-small top-space">
            <div class="container">
                <div class="row equalize xs-equalize-auto">
                    <div class="col-lg-8 col-md-6 col-sm-6 col-xs-12 display-table">
                        <div class="display-table-cell vertical-align-middle text-left xs-text-center">
                            <!-- start page title -->
                            <h1 class="alt-font text-extra-dark-gray font-weight-600 no-margin-bottom text-uppercase">This is a standard post with a preview image</h1>
                            <!-- end page title -->
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 display-table text-right xs-text-left xs-margin-10px-top">
                        <div class="display-table-cell vertical-align-middle breadcrumb text-small alt-font">
                            <!-- breadcrumb -->
                            <ul class="xs-text-center text-uppercase">
                                <li><a href="#" class="text-dark-gray">25 April 2017</a></li>
                                <li><span class="text-dark-gray">by <a href="blog-masonry.html">Jay Benjamin</a></span></li>
                                <li class="text-dark-gray"><a href="blog-masonry.html">Design</a></li>
                            </ul>
                            <!-- end breadcrumb -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end page title section -->
        <!-- start post content section --> 
        <section>
            <div class="container">
                <div class="row">
                  
                    <aside class="col-md-3 col-sm-12 col-xs-12 pull-right">
                        <div class="display-inline-block width-100 margin-45px-bottom xs-margin-25px-bottom">
                            <form>
                                <div class="position-relative">
                                    <input type="text" class="bg-transparent text-small no-margin border-color-extra-light-gray medium-input pull-left" placeholder="Enter your keywords...">
                                    <button type="submit" class="bg-transparent  btn position-absolute right-0 top-1"><i class="fas fa-search no-margin-left"></i></button>
                                </div>   
                            </form>
                        </div>
                        <div class="margin-45px-bottom xs-margin-25px-bottom">
                            <div class="text-extra-dark-gray margin-20px-bottom alt-font text-uppercase text-small font-weight-600 aside-title"><span>About Me</span></div>
                            <a href="about-me.html"><img src="http://placehold.it/800x533" alt="" class="margin-25px-bottom"/></a>
                            <p class="margin-20px-bottom text-small">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard.</p>
                            <a class="btn btn-very-small btn-dark-gray text-uppercase" href="about-me.html">About Author</a>
                        </div>
                        <div class="margin-50px-bottom">
                            <div class="text-extra-dark-gray margin-20px-bottom alt-font text-uppercase font-weight-600 text-small aside-title"><span>Follow Us</span></div>
                            <div class="social-icon-style-1 text-center">
                                <ul class="extra-small-icon">
                                    <li><a class="facebook" href="http://facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a class="twitter" href="http://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                    <li><a class="google" href="http://google.com" target="_blank"><i class="fab fa-google-plus-g"></i></a></li>
                                    <li><a class="dribbble" href="http://dribbble.com" target="_blank"><i class="fab fa-dribbble"></i></a></li>
                                    <li><a class="linkedin" href="http://linkedin.com" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="margin-45px-bottom xs-margin-25px-bottom">
                            <div class="text-extra-dark-gray margin-20px-bottom alt-font text-uppercase font-weight-600 text-small aside-title"><span>Categories</span></div>
                            <ul class="list-style-6 margin-50px-bottom text-small">
                                <li><a href="blog-masonry.html">Arts and Entertainment</a><span>12</span></li>
                                <li><a href="blog-masonry.html">Blog</a><span>05</span></li>
                                <li><a href="blog-masonry.html">Blog Full width</a><span>08</span></li>
                                <li><a href="blog-masonry.html">Blog Grid</a><span>10</span></li>
                                <li><a href="blog-masonry.html">Branding</a><span>21</span></li>
                                <li><a href="blog-masonry.html">Design Tutorials</a><span>09</span></li>
                                <li><a href="blog-masonry.html">Designing</a><span>07</span></li>
                                <li><a href="blog-masonry.html">Feature</a><span>06</span></li>
                                <li><a href="blog-masonry.html">Home Blog</a><span>10</span></li>
                                <li><a href="blog-masonry.html">Onepage Fashion</a><span>11</span></li>
                                <li><a href="blog-masonry.html">Sample</a><span>06</span></li>
                            </ul>   
                        </div>
                        <div class="bg-deep-pink padding-30px-all text-white text-center margin-45px-bottom xs-margin-25px-bottom">
                            <i class="fas fa-quote-left icon-small margin-15px-bottom display-block"></i>
                            <span class="text-extra-large font-weight-300 margin-20px-bottom display-block">The future belongs to those who believe in the beauty of their dreams.</span>
                            <a class="btn btn-very-small btn-transparent-white border-width-1 text-uppercase" href="portfolio-boxed-grid-overlay.html">Explore Portfolio</a>
                        </div>
                        <div class="margin-45px-bottom xs-margin-25px-bottom">
                            <div class="text-extra-dark-gray margin-25px-bottom alt-font text-uppercase font-weight-600 text-small aside-title"><span>Popular post</span></div>
                            <ul class="latest-post position-relative">
                                <li>
                                    <figure>
                                        <a href="blog-masonry.html"><img src="http://placehold.it/480x358" alt=""></a>
                                    </figure>
                                    <div class="display-table-cell vertical-align-top text-small"><a href="blog-masonry.html" class="text-extra-dark-gray"><span class="display-inline-block margin-5px-bottom">Traveling abroad will change you forever</span></a> <span class="clearfix text-medium-gray text-small">April 30, 2016</span></div>
                                </li>
                                <li>
                                    <figure>
                                        <a href="blog-masonry.html"><img src="http://placehold.it/480x358" alt=""></a>
                                    </figure>
                                    <div class="display-table-cell vertical-align-top text-small"><a href="blog-masonry.html" class="text-extra-dark-gray"><span class="display-inline-block margin-5px-bottom">Having a new perspec-tive on new york city</span></a> <span class="clearfix text-medium-gray text-small">March 10, 2016</span></div>
                                </li>
                                <li>
                                    <figure>
                                        <a href="blog-masonry.html"><img src="http://placehold.it/480x358" alt=""></a>
                                    </figure>
                                    <div class="display-table-cell vertical-align-top text-small"><a href="blog-masonry.html" class="text-extra-dark-gray"><span class="display-inline-block margin-5px-bottom">The incredible talents of street performers</span></a> <span class="clearfix text-medium-gray text-small">March 05, 2016</span></div>
                                </li>
                                <li>
                                    <figure>
                                        <a href="blog-masonry.html"><img src="http://placehold.it/480x358" alt=""></a>
                                    </figure>
                                    <div class="display-table-cell vertical-align-top text-small"><a href="blog-masonry.html" class="text-extra-dark-gray"><span class="display-inline-block margin-5px-bottom">Praesent placerat risus quis eros</span></a> <span class="clearfix text-medium-gray text-small">March  01, 2016</span></div>
                                </li>
                            </ul>
                        </div>
                        <div class="margin-45px-bottom xs-margin-25px-bottom">
                            <div class="text-extra-dark-gray margin-25px-bottom alt-font text-uppercase font-weight-600 text-small aside-title"><span>tags cloud</span></div>
                            <div class="tag-cloud">
                                <a href="blog-grid.html">ADVERTISEMENT</a>
                                <a href="blog-grid.html">ARTISTRY</a>
                                <a href="blog-grid.html">BLOG</a>
                                <a href="blog-grid.html">CONCEPTUAL</a>
                                <a href="blog-grid.html">DESIGN</a>
                                <a href="blog-grid.html">FASHION</a>
                                <a href="blog-grid.html">INSPIRATION</a>
                                <a href="blog-grid.html">SMART</a>
                                <a href="blog-grid.html">QUOTES</a>
                                <a href="blog-grid.html">UNIQUE</a>
                                <a href="blog-grid.html">CONCEPTS</a>
                            </div>
                        </div>
                        <div class="margin-45px-bottom xs-margin-25px-bottom">
                            <div class="text-extra-dark-gray margin-25px-bottom alt-font text-uppercase font-weight-600 text-small aside-title"><span>Archive</span></div>
                            <ul class="list-style-6 margin-20px-bottom text-small">
                                <li><a href="blog-grid.html">July 2017</a><span>12</span></li>
                                <li><a href="blog-grid.html">June 2017</a><span>05</span></li>
                                <li><a href="blog-grid.html">May 2017</a><span>08</span></li>
                                <li><a href="blog-grid.html">April 2017</a><span>10</span></li>
                                <li><a href="blog-grid.html">March 2017</a><span>21</span></li>
                                <li><a href="blog-grid.html">February 2017</a><span>09</span></li>
                                <li><a href="blog-grid.html">January 2017</a><span>07</span></li>
                            </ul>   
                        </div>
                        <div class="margin-45px-bottom xs-margin-25px-bottom">
                            <div class="text-extra-dark-gray margin-25px-bottom alt-font text-uppercase font-weight-600 text-small aside-title"><span>Newsletter</span></div>
                            <div class="display-inline-block width-100">
                                <form>
                                    <div class="position-relative">
                                        <input type="email" class="bg-transparent text-small no-margin border-color-extra-light-gray medium-input pull-left" placeholder="Enter your email...">
                                        <button type="submit" class="bg-transparent text-large btn position-absolute right-0 top-3"><i class="far fa-envelope no-margin-left"></i></button>
                                    </div>   
                                </form>
                            </div>
                        </div>
                        <div class="margin-45px-bottom xs-margin-25px-bottom">
                            <div class="text-extra-dark-gray margin-25px-bottom alt-font text-uppercase font-weight-600 text-small aside-title"><span>Instagram</span></div>
                            <div class="instagram-follow-api">
                                <ul id="instaFeed-aside"></ul>
                            </div>
                        </div>
                        <div class="margin-45px-bottom xs-margin-25px-bottom">
                            <a href="#"><img src="images/menu-banner-01.png" alt="" class="width-100"/></a>
                        </div>
                    </aside>
                </div>
            </div>
        </section>
        <!-- end blog content section -->  

        {% endblock %}
