{% extends "base.html" %}
{% load blog_tags %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}

<body>


  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">

        <!-- Title -->
        <h1 class="mt-4">{{post.title}}</h1>

        <!-- Author -->
        <p class="lead">
          by
          <a href="#">{{post.author}}</a>
        </p>

        <hr>

        <!-- Date/Time -->
        <p>{{post.publish}}</p>

        <hr>

        <!-- Preview Image -->
        <img class="img-fluid rounded" src="http://placehold.it/900x300" alt="">

        <hr>

        <!-- Post Content -->
        <p class="lead">
          {{post.body}}
        </p>
        <hr>         
       
          <div class="col-md-12 col-sm-12 col-xs-12 no-padding">
              <div class="col-md-12 col-sm-12 col-xs-12 margin-lr-auto text-center">
                  <div class="position-relative overflow-hidden width-100">
                      <span class="text-small text-outside-line-full alt-font font-weight-600 text-uppercase text-extra-dark-gray">Related Posts</span>
                  </div>
              </div>
              <!-- start post item -->
              <div class="row justify-content-center">
              {% for rel_post in similar_posts %}
             
                  <div class="pt-3 col-lg-4">
                      <div class="blog-post-images overflow-hidden margin-25px-bottom sm-margin-20px-bottom">
                          <a href="blog-post-layout-01.html">
                              <img class="img-fluid" src="http://placehold.it/700x500" alt="">
                          </a>
                      </div>
                      <div class="post-details">
                          <span class="">{{rel_post.publish }}| by <a href="blog-masonry.html"> {{ rel_post.author }}</a></span>
                          <a href="{{ rel_post.get_absolute_url }}" class=""> {{ rel_post.title }}</a>
                          <div class=""></div>
                          <p class="width-90 xs-width-100">{{rel_post.body|truncatewords_html:15}}</p>
                      </div>
                  </div>
              
              <p>
                <a > </a>
              </p>
           {% empty %}
              There are no similar posts yet
           {% endfor %}
          </div>
              <!-- end post item -->
              
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12 margin-eight-top">
              <div class="divider-full bg-medium-light-gray"></div>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12 blog-details-comments">
              <div class="width-100 margin-lr-auto text-center margin-80px-tb sm-margin-50px-tb xs-margin-30px-tb">
                  <div class="position-relative overflow-hidden width-100">
                      {% with comments.count as total_comments %}
                      <span class="text-small text-outside-line-full alt-font font-weight-600 text-uppercase text-extra-dark-gray">
                          {{ total_comments }} comment{{total_comments | pluralize }}</span>
                      {% endwith %}
                  </div>
              </div>
              {% for comment in comments %}
                  <ul class="blog-comment">
                      <li>
                          <div class="display-table width-100">
                             
                              <div class="padding-40px-left display-table-cell vertical-align-top last-paragraph-no-margin xs-no-padding-left xs-display-block">
                                  <a href="#" class="text-extra-dark-gray text-uppercase alt-font font-weight-600 text-small">
                                  Comment {{ forloop.counter }} by {{ comment.name }}
                                      {{ comment.created }}</a>
                                  <a href="#comments" class="inner-link btn-reply text-uppercase alt-font text-extra-dark-gray">Reply</a>
                                  <div class="text-small text-medium-gray text-uppercase margin-10px-bottom">17 july 2017, 6:05 pm</div>
                                  <p>{{ comment.body|linebreaks}}</p>
                              </div>
                          </div>
                          
                      </li>

                      {% empty %}
                      <p>There are no comments yet</p>
                  </ul>
            {% endfor %}
            {% if new_comment %}
               <h2> Your comment has been added </h2>
            {% else %}
               <form method="post">
                 {{ comment_form.as_p }}
                 {% csrf_token %}
                 <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                  <button class="btn btn-primary" type="submit">Send message</button>
              </div>
               </form>
            {% endif %}
              
          </div>
         
          
         
      </main>
      </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

          <!-- Search Widget -->
          <div class="card my-4">
            <h5 class="card-header">Search</h5>
            <div class="card-body">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-append">
                  <button class="btn btn-secondary" type="button">Go!</button>
                </span>
              </div>
            </div>
          </div>

          <!-- Categories Widget -->
          <div class="card my-4">
            <h5 class="card-header">Categories</h5>
            <div class="card-body">
              <div class="row">
                <div class="col-lg-6">
                  <ul class="list-unstyled mb-0">
                    <li>
                      <a href="#">Web Design</a>
                    </li>
                    <li>
                      <a href="#">HTML</a>
                    </li>
                    <li>
                      <a href="#">Freebies</a>
                    </li>
                  </ul>
                </div>
                <div class="col-lg-6">
                  <ul class="list-unstyled mb-0">
                    <li>
                      <a href="#">JavaScript</a>
                    </li>
                    <li>
                      <a href="#">CSS</a>
                    </li>
                    <li>
                      <a href="#">Tutorials</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <!-- Side Widget -->
          <div class="card my-4">
            <h5 class="card-header">Side Widget</h5>
            <div class="card-body">
              You can put anything you want inside of these side widgets. They are easy to use, and feature the new
              Bootstrap 4 card containers!
            </div>
          </div>

        </div>

    </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->




</body>

{% endblock %}